{include file="header"}
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span>角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="text-c">
				<form class="Huiform" method="post" action="" target="_self">
	                <a href="{:url('role/add')}">
					<button type="button" class="btn btn-success" id="add" name="" ><i class="Hui-iconfont">&#xe600;</i> 添加</button></a>
				</form>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="40"><input type="checkbox" name="" value=""></th>
						    <th width="70">ID</th>
							<th width="200">角色名称</th>
							<th width="200">备注</th>
							<th width="200">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</article>
	</div>
	<div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content radius">
			<div class="modal-header">
				<h3 class="modal-title" style="color:#A0E8A0;text-align: center;">权限修改</h3>
				<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
			</div>
			<div class="modal-body" style="text-align: center;">
				<input type="hidden" id="__token__" value="{$Request.token}" hidden="" />
				<input type="text" id="up_id" style="width: 100px; height: 25px;" hidden="" >
				角色名称：<input type="text" id="up_name" style="width: 200px; height: 25px;">
				备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注：<input type="text" id="up_description"  style="width: 200px; height: 25px;">
				<br>
				<span id="span_show"></span>
				<br><br>
				<div class="row cl">
			<!-- 	<label class="form-label col-xs-4 col-sm-3">网站角色：</label> -->
				<div class="formControls">
					<dl class="permission-list" id="permission-list">
					</dl>
				</div>
		</div>	
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" onclick="up_action()">确定</button>
				<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</section>
{include file="footer"} 
<script type="text/javascript">
		           function modaldemo(id,name,description){
		            // var mycheckbox=$(".mycheckbox")
		            // $(".mycheckbox").prop("checked",false);
		           	$("#up_id").val(id)
		           	$("#up_name").val(name)
					$("#up_description").val(description)
					$.ajax({
						url:"{:url('role/mypermissionshow')}",
						data:{
							id:id
						},
						dataType:'json',
						success:function (res) {
						 $(".mycheckbox").prop("checked",false);
							// console.log(res.data)
						$.each(res.data,function (key,value) {
							// console.log(value)
						 var p_id="p"+value.permission_id
						 $("#"+p_id).prop('checked',true)

						})
						
					}

				})
			        $("#modal-demo").modal("show")
			 }


            function up_action() {
          	var id=$("#up_id").val()
			var name=$("#up_name").val()
			var description=$("#up_description").val()
			var mycheckbox=$('.mycheckbox:checked')
		    var __token__=$('#__token__').val()
			var permission_id=''
		
			for (var i = 0; i < mycheckbox.length; i++) {
				permission_id=permission_id+','+mycheckbox[i].value
				
			}
			$.ajax({
				url:"{:url('role/updateAction')}",
				type:'post',
				data:{
						id:id,
		                name:name,
		                description:description,
		                permission_id:permission_id,
		                __token__:__token__
				},
			
				   dataType:'json',
				   success:function (res) {
		             	console.log(res)
		             	if (res.status=='ok') {
		              $("#span_show").html()
		              $("#modal-demo").modal("hide")
		                 show()
		             	}
		             	if (res.status=='error') {
		                 $("#span_show").html(res.data)
		                 
		             	}
		             	show()
		             	getToken()
		             }
		       	})

            }


       
		     function show() {
		        	$.ajax({
		  		url:"{:url('role/show')}",
		  		dataType:'json',
		  		success:function (res) {
				  			// console.log(res)
	  			var tr=''
	  			for (var i = 0; i < res.length; i++) {
				tr=tr+"<tr class='text-c'><td><input type='checkbox' class='mycheckbox' value='"+res[i].id+"'></td><td>"+res[i].id+"</td><td>"+res[i].name+"</td><td>"+res[i].description+"</td><td class='f-14 product-brand-manage'><a onclick='modaldemo(\""+res[i].id+"\",\""+res[i].name+"\",\""+res[i].description+"\")' style='text-decoration:none' title='编辑'><i class='Hui-iconfont'>详情</i></a> <a style='text-decoration:none' class='delete_one ml-5' value='"+res[i].id+"' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
			}
	  			$('.table tbody').html(tr)
	  		
	  		}

	  	})
	 }
	  show()	

   
		     $(document).on('click','.delete_one', function () {
			     	   var id=($(this).attr('value'))
			     	   var __token__=$('#__token__').val()
			     	      $.ajax({
	                          url:"{:url('role/delete')}",
	                          data:{
                                id:id,
                               __token__:__token__
	                          },
                           type:'post',
                           dataType:'json',
                           success:function (res) {
                             console.log(res)
                             if (res.status=='ok') {  
                             alert("删除成功√")	
                             }
                            getToken()
                         	show()
                        }
		            })
			     });


		     function  del() {
		     	var box=$(".mycheckbox:checked")
		     	var __token__=$('#__token__').val()
		     	var id=''
		     	for (var i = 0; i < box.length; i++) {
		     		id=id+","+box[i].value
		     	}
		     	console.log(id)
		     	$.ajax({
		     		url:"{:url('role/deletemore')}",
		     	    type:'post',
		     		data:{
		     			id:id,
		     		 __token__:__token__
                    },
                    dataType:'json',
                    success:function (res) {
                    	console.log(res)
                    	if (res.status=='ok') {
                    		alert("删除成功√")
                    		show()
                    		getToken()
                    	}
                    	
                         	
                    }
		     	})
		     }


		      $.ajax({
				url:"{:url('role/permissionshow')}",
				success:function (res) {
				 var data=res.data
				 // console.log(data)
				 dl=''
				 $.each(data, function (key,value) {
				 dl=dl+"<dt><label class='mycheckbox' style='color:blue'><input type='checkbox' value=''>"+key+"</label></dt><dd><dl class='cl permission-list2'>"	
				 // console.log(value) 
				 	 $.each(value, function (key1,value1) {
                  dl=dl+"<label class=''><input type='checkbox' id='p"+value1['id']+"' class='mycheckbox' value='"+value1['id']+"'>"+value1['name']+"</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                     // console.log(value1) 
			 	 })
				 	 dl=dl+"</dd>";
			 });  
                  // console.log(dl)
                  $("#permission-list").html(dl)
	      }

	 })
</script>



